<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    
      
        <title>控制器和模板系统 - ZKWeb框架文档</title>
      
      
      
      
    
    <meta property="og:url" content="None">
    <meta property="og:title" content="ZKWeb框架文档">
    <meta property="og:image" content="None/../../">
    <meta name="apple-mobile-web-app-title" content="ZKWeb框架文档">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    
    <link rel="shortcut icon" type="image/x-icon" href="../../None">
    <link rel="icon" type="image/x-icon" href="../../None">
    <style>
      @font-face {
      	font-family: 'Icon';
      	src: url('../../assets/fonts/icon.eot?52m981');
      	src: url('../../assets/fonts/icon.eot?#iefix52m981')
               format('embedded-opentype'),
      		   url('../../assets/fonts/icon.woff?52m981')
               format('woff'),
      		   url('../../assets/fonts/icon.ttf?52m981')
               format('truetype'),
      		   url('../../assets/fonts/icon.svg?52m981#icon')
               format('svg');
      	font-weight: normal;
      	font-style: normal;
      }
    </style>
    <link rel="stylesheet" href="../../assets/stylesheets/application-0dac3e5884.css">
    
      <link rel="stylesheet" href="../../assets/stylesheets/palettes-05ab2406df.css">
    
    
      
      
      
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=微软雅黑:400,700|微软雅黑">
      <style>
        body, input {
          font-family: '微软雅黑', Helvetica, Arial, sans-serif;
        }
        pre, code {
          font-family: '微软雅黑', 'Courier New', 'Courier', monospace;
        }
      </style>
    
    
    <script src="../../assets/javascripts/modernizr-4ab42b99fd.js"></script>
    
  </head>
  
  
  
  <body class="palette-primary-blue-grey palette-accent-blue-grey">
    
    <div class="backdrop">
      <div class="backdrop-paper"></div>
    </div>
    <input class="toggle" type="checkbox" id="toggle-drawer">
    <input class="toggle" type="checkbox" id="toggle-search">
    <label class="toggle-button overlay" for="toggle-drawer"></label>
    <header class="header">
      <nav aria-label="Header">
  <div class="bar default">
    <div class="button button-menu" role="button" aria-label="Menu">
      <label class="toggle-button icon icon-menu" for="toggle-drawer">
        <span></span>
      </label>
    </div>
    <div class="stretch">
      <div class="title">
        
          <span class="path">
            
          </span>
        
        控制器和模板系统
      </div>
    </div>
    
    
      
      <div class="button button-github" role="button" aria-label="GitHub">
        <a href="https://github.com/zkweb-framework" title="@zkweb-framework on GitHub" target="_blank" class="toggle-button icon icon-github"></a>
      </div>
    
    <div class="button button-search" role="button" aria-label="Search">
      <label class="toggle-button icon icon-search" title="Search" for="toggle-search"></label>
    </div>
  </div>
  <div class="bar search">
    <div class="button button-close" role="button" aria-label="Close">
      <label class="toggle-button icon icon-back" for="toggle-search"></label>
    </div>
    <div class="stretch">
      <div class="field">
        <input class="query" type="text" placeholder="Search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck>
      </div>
    </div>
    <div class="button button-reset" role="button" aria-label="Search">
      <button class="toggle-button icon icon-close" id="reset-search"></button>
    </div>
  </div>
</nav>
    </header>
    <main class="main">
      
      <div class="drawer">
        <nav aria-label="Navigation">
  
  <a href="/" class="project">
    <div class="banner">
      
      <div class="name">
        <strong>
          ZKWeb框架文档
          <span class="version">
            
          </span>
        </strong>
        
      </div>
    </div>
  </a>
  <div class="scrollable">
    <div class="wrapper">
      
      <div class="toc">
        <ul>
          
            
  <li>
    <a class="" title="框架介绍" href="../..">
      框架介绍
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="首次运行" href="../gettingstart/">
      首次运行
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="网站配置" href="../config/">
      网站配置
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件系统" href="../plugin/">
      插件系统
    </a>
    
  </li>

          
            
  <li>
    <a class="current" title="控制器和模板系统" href="./">
      控制器和模板系统
    </a>
    
      
      
        <ul>
          
            <li class="anchor">
              <a title="添加控制器" href="#_1">
                添加控制器
              </a>
            </li>
          
            <li class="anchor">
              <a title="模板页介绍" href="#_2">
                模板页介绍
              </a>
            </li>
          
            <li class="anchor">
              <a title="使用模板页" href="#_3">
                使用模板页
              </a>
            </li>
          
            <li class="anchor">
              <a title="模板标签和过滤器" href="#_4">
                模板标签和过滤器
              </a>
            </li>
          
            <li class="anchor">
              <a title="更多的返回类型" href="#_5">
                更多的返回类型
              </a>
            </li>
          
            <li class="anchor">
              <a title="获取请求参数" href="#_6">
                获取请求参数
              </a>
            </li>
          
            <li class="anchor">
              <a title="重载处理函数" href="#_7">
                重载处理函数
              </a>
            </li>
          
            <li class="anchor">
              <a title="重载模板" href="#_8">
                重载模板
              </a>
            </li>
          
            <li class="anchor">
              <a title="动态内容" href="#_9">
                动态内容
              </a>
            </li>
          
            <li class="anchor">
              <a title="添加链接到导航栏" href="#_10">
                添加链接到导航栏
              </a>
            </li>
          
            <li class="anchor">
              <a title="模板模块的单独缓存" href="#_11">
                模板模块的单独缓存
              </a>
            </li>
          
        </ul>
      
    
  </li>

          
            
  <li>
    <a class="" title="本地化" href="../localize/">
      本地化
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="数据库管理" href="../database/">
      数据库管理
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="单元测试" href="../unittest/">
      单元测试
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.Base)" href="../../plugin/common.base/">
      插件(Common.Base)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.Captcha)" href="../../plugin/common.captcha/">
      插件(Common.Captcha)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.Admin)" href="../../plugin/common.admin/">
      插件(Common.Admin)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.MenuPageBase)" href="../../plugin/common.menupagebase/">
      插件(Common.MenuPageBase)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.AdminSettings)" href="../../plugin/common.adminsettings/">
      插件(Common.AdminSettings)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.UserPanel)" href="../../plugin/common.userpanel/">
      插件(Common.UserPanel)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.UserContact)" href="../../plugin/common.usercontact/">
      插件(Common.UserContact)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.GenericClass)" href="../../plugin/common.genericclass/">
      插件(Common.GenericClass)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.GenericTag)" href="../../plugin/common.generictag/">
      插件(Common.GenericTag)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.GenericRecord)" href="../../plugin/common.genericrecord/">
      插件(Common.GenericRecord)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.LanguageSwitcher)" href="../../plugin/common.languageswitcher/">
      插件(Common.LanguageSwitcher)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.Currency)" href="../../plugin/common.currency/">
      插件(Common.Currency)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.Region)" href="../../plugin/common.region/">
      插件(Common.Region)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.SerialGenerate)" href="../../plugin/common.serialgenerate/">
      插件(Common.SerialGenerate)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Finance.Payment)" href="../../plugin/common.payment/">
      插件(Finance.Payment)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Finance.Payment.Alipay)" href="../../plugin/common.payment.alipay/">
      插件(Finance.Payment.Alipay)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Finance.Payment.Tenpay)" href="../../plugin/common.payment.tenpay/">
      插件(Finance.Payment.Tenpay)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Finance.Payment.WeChat)" href="../../plugin/common.payment.wechat/">
      插件(Finance.Payment.WeChat)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(CMS.CKEditor)" href="../../plugin/cms.ckeditor/">
      插件(CMS.CKEditor)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(CMS.ImageBrowser)" href="../../plugin/cms.imagebrowser/">
      插件(CMS.ImageBrowser)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(CMS.Article)" href="../../plugin/cms.atricle/">
      插件(CMS.Article)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Shopping.Product)" href="../../plugin/shopping.product/">
      插件(Shopping.Product)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Shopping.Logistics)" href="../../plugin/shopping.logistics/">
      插件(Shopping.Logistics)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Shopping.Order)" href="../../plugin/shopping.order/">
      插件(Shopping.Order)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Shopping.AfterSales)" href="../../plugin/shopping.aftersales/">
      插件(Shopping.AfterSales)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(UnitTest.WebTester)" href="../../plugin/unittest.webtester/">
      插件(UnitTest.WebTester)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="插件(Common.CustomTranslate)" href="../../plugin/common.customtranslate/">
      插件(Common.CustomTranslate)
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="实例(创建博客网站)" href="../../example/make_blog/">
      实例(创建博客网站)
    </a>
    
  </li>

          
        </ul>
        
          <hr>
          <span class="section">The author</span>
          <ul>
            
            
              
              <li>
                <a href="https://github.com/zkweb-framework" target="_blank" title="@zkweb-framework on GitHub">
                  @zkweb-framework on GitHub
                </a>
              </li>
            
          </ul>
        
      </div>
    </div>
  </div>
</nav>
      </div>
      <article class="article">
        <div class="wrapper">
          
            <h1>控制器和模板系统</h1>
          
          <p>ZKWeb使用了独自编写的控制器和模板系统，不依赖于asp.net和mvc的组件。<br/>
在ZKWeb中控制器接口只是一个空接口，自身不拥有状态。<br/>
获取当前http上下文可以通过<code>HttpContextUtils.CurrentContext</code>，<br/>
为了更好的支持单元测试，请不要使用<code>HttpContext.Current</code>。<br/></p>
<h3 id="_1"><h2>添加控制器</h2></h3>
<p>添加<code>Example\src\Controllers\ExampleController.cs</code>，内容如下</br>
使用<code>Controllers</code>文件夹保存控制器代码是命名习惯，不是必须遵从的。</br></p>
<div class="code"><pre><span></span><span class="c1">/// &lt;summary&gt;</span>
<span class="c1">/// 示例使用的控制器</span>
<span class="c1">/// &lt;/summary&gt;</span>
<span class="na">[ExportMany]</span>
<span class="k">public</span> <span class="k">class</span> <span class="nc">ExampleController</span> <span class="p">:</span> <span class="n">IController</span> <span class="p">{</span>
<span class="na">    [Action(&quot;example/plain_text&quot;)]</span>
    <span class="k">public</span> <span class="kt">string</span> <span class="nf">PlainTextAction</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">return</span> <span class="s">&quot;hello world on zkweb&quot;</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>


<p>保存后在浏览器中打开<code>http://localhost:端口/example/plain_text</code>，即可看到返回的内容。</br>
控制器中标记了<code>[Action]</code>属性的函数都是可以访问的函数，返回类型可以是<code>string</code>或<code>IActionResult</code>。</br>
在Action属性中可以指定路径和请求类型(GET或POST)，路径前面如果没有<code>/</code>会自动补上。</br>
和mvc不一样，ZKWeb的路径完全由Action属性而不是控制器决定，而且处理函数必须标记Action属性。</br></p>
<h3 id="_2"><h2>模板页介绍</h2></h3>
<p>ZKWeb的模板系统使用了DotLiquid。</br>
请先参考DotLiquid的文档:</br>
http://dotliquidmarkup.org/</br></p>
<p>使用它代替cshtml的原因有</br></p>
<ul>
<li>模板只要求参数不要求环境，可以纯粹当成是字符串模板使用</li>
<li>模板只编译成语法树而不是IL代码，每个页面第一次打开的速度远比cshtml要快</li>
<li>没有内存泄漏的问题（可以在网站运行时不断更新模板页）</li>
</ul>
<h3 id="_3"><h2>使用模板页</h2></h3>
<p>在上面的<code>ExampleController</code>下添加以下代码</p>
<div class="code"><pre><span></span><span class="na">[Action(&quot;example/template&quot;)]</span>
<span class="k">public</span> <span class="n">IActionResult</span> <span class="nf">TemplateAction</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">return</span> <span class="k">new</span> <span class="nf">TemplateResult</span><span class="p">(</span><span class="s">&quot;example/example_page.html&quot;</span><span class="p">,</span> <span class="k">new</span> <span class="p">{</span> <span class="n">text</span> <span class="p">=</span> <span class="s">&quot;world&quot;</span> <span class="p">});</span>
<span class="p">}</span>
</pre></div>


<p>在<code>Example</code>文件夹下创建<code>templates\example</code>文件夹，并添加<code>example_page.html</code>文件，内容如下</p>
<div class="code"><pre><span></span><span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>hello, {{ arg }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
</pre></div>


<p>完成后的目录结构应该如下</br>
<img alt="" src="../../img/add_example_page.jpg" /></p>
<p>保存后在浏览器中打开<code>http://localhost:端口/example/template</code>，即可看到<code>hello, world</code>。</br></p>
<h3 id="_4"><h2>模板标签和过滤器</h2></h3>
<p>模板支持自定义的标签和过滤器。</br>
标签的格式是<code>{% 标签 参数 %}</code></br>
过滤器的格式是<code>{{ 变量或常量 | 过滤器 | 过滤器: 参数,参数 | 更多过滤器... }}</code></br></p>
<p>修改上面的模板页内容:</br></p>
<div class="code"><pre><span></span>{% use_title &quot;Example Title&quot; %}
{% include common.base/header.html %}

<span class="p">&lt;</span><span class="nt">div</span><span class="p">&gt;</span>{{ &quot;HomePage&quot; | trans }}<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span><span class="p">&gt;</span>hello, {{ text | upcase }}<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

{% include common.base/footer.html %}
</pre></div>


<p>刷新页面可以看到以下的效果:</br>
<img alt="" src="../../img/template_tag_example.jpg" /></p>
<h3 id="_5"><h2>更多的返回类型</h2></h3>
<p>上面介绍了<code>TemplateResult</code>，ZKWeb还提供了其他类型的结果。</br></p>
<ul>
<li><code>FileResult(string path, DateTime? ifModifiedSince = null)</code></li>
<li><code>ImageResult(Image image, ImageFormat format = null)</code></li>
<li><code>JsonResult(object obj, Formatting formatting = Formatting.None)</code></li>
<li><code>PlainResult(object obj)</code></li>
<li><code>RedirectResult(string url, bool permanent = false)</code></li>
<li><code>StreamResult(Stream stream, string contentType = null)</code></li>
<li><code>TemplateResult(string path, object argument = null)</code></li>
</ul>
<p>如果需要返回其他类型可以自己编写继承<code>IActionResult</code>的类。</br></p>
<h3 id="_6"><h2>获取请求参数</h2></h3>
<p>可以使用<code>HttpContextUtils.CurrentContext.Request</code>获取到请求对象并获取里面的参数。</br>
目前ZKWeb不能像mvc那样通过函数参数来获取请求参数，但很多情况下不需要自己获取。</br>
获取请求参数的例子: </br></p>
<div class="code"><pre><span></span><span class="kt">var</span> <span class="n">request</span> <span class="p">=</span> <span class="n">HttpContextUtils</span><span class="p">.</span><span class="n">CurrentContext</span><span class="p">.</span><span class="n">Request</span><span class="p">;</span>
<span class="kt">var</span> <span class="n">id</span> <span class="p">=</span> <span class="n">request</span><span class="p">.</span><span class="n">Get</span><span class="p">&lt;</span><span class="kt">int</span><span class="p">&gt;(</span><span class="s">&quot;id&quot;</span><span class="p">);</span> <span class="c1">// a collection combines Form and Request</span>
<span class="kt">var</span> <span class="n">file</span> <span class="p">=</span> <span class="n">request</span><span class="p">.</span><span class="n">Files</span><span class="p">[</span><span class="m">0</span><span class="p">];</span>
</pre></div>


<h3 id="_7"><h2>重载处理函数</h2></h3>
<p>ZKWeb支持在一个插件中替换另一个插件的处理函数。</br>
例如插件A定义了"example/a"，插件B也定义了同样路径的函数，ZKWeb会使用插件B中定义的函数。</br>
这个功能可以用于编写自己的插件替换掉整个首页或登陆页面。</br>
重载处理函数时需要指定"OverrideExists"参数，否则会提示冲突。</br></p>
<div class="code"><pre><span></span><span class="na">[Action(&quot;example/a&quot;, OverrideExists = true)]</span>
<span class="k">public</span> <span class="n">IActionResult</span> <span class="nf">ExampleAInPluginB</span><span class="p">()</span> <span class="p">{</span> <span class="p">...</span> <span class="p">}</span>
</pre></div>


<h3 id="_8"><h2>重载模板</h2></h3>
<p>ZKWeb支持在一个插件中替换另一个插件的模板文件，这点和Django一样。</br>
例如有以下的目录结构，插件B在插件A后面加载时，插件B的模板页会替换到插件A的模板页。</br></p>
<ul>
<li>Plugins<ul>
<li>A<ul>
<li>templates<ul>
<li>a<ul>
<li>some_page.html (不会使用)</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li>B<ul>
<li>templates<ul>
<li>a<ul>
<li>some_page.html (会使用)</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>模板还可以通过<code>App_Data\templates</code>重载，结构和上面一样。</br>
支持模板的重载可以让新的插件随意更换原有插件的网页内容，也可以提供一套用户编辑的系统编辑所有页面。</br></p>
<h3 id="_9"><h2>动态内容</h2></h3>
<p>考虑到实现可视化编辑（动态拖拽和修改页面内容），ZKWeb提供了一套默认的动态内容系统。</br></p>
<p>这套系统定义了以下的类型<br/></p>
<ul>
<li>区域 (area)</li>
<li>模块 (widget)</li>
</ul>
<p>每个区域下可以有多个模块，但区域不能嵌套区域。<br/>
可视化编辑时可以拖动模块加入区域，模块可以通过自定义的参数调整里面的内容。<br/></p>
<p>在模板页中使用<code>{% area 区域Id %}</code>时会查找这个区域下的所有模块并加入到里面。<br/>
查找顺序是<br/></p>
<ul>
<li>App_Data\areas\{区域Id}.widgets</li>
<li>程序中注册的默认模块列表</li>
</ul>
<p>区域Id全局唯一，请注意是否会产生冲突。</br>
全局唯一的理由是，有的区域（例如网站头部）是整个网站共享的，这时只需要编辑这个区域就可以应用到所有页面。</br></p>
<h3 id="_10"><h2>添加链接到导航栏</h2></h3>
<p>在默认的插件中提供了一个导航栏区域，名称是<code>header_menubar</code>。</br>
下面演示怎样添加链接到这个区域中。</br></p>
<p>在<code>Plugin</code>类的<code>Plugin()</code>函数下添加以下代码:</br></p>
<div class="code"><pre><span></span><span class="kt">var</span> <span class="n">areaManager</span> <span class="p">=</span> <span class="n">Application</span><span class="p">.</span><span class="n">Ioc</span><span class="p">.</span><span class="n">Resolve</span><span class="p">&lt;</span><span class="n">TemplateAreaManager</span><span class="p">&gt;();</span>
<span class="n">areaManager</span><span class="p">.</span><span class="n">GetArea</span><span class="p">(</span><span class="s">&quot;header_menubar&quot;</span><span class="p">).</span><span class="n">DefaultWidgets</span><span class="p">.</span><span class="n">Add</span><span class="p">(</span><span class="s">&quot;example.widgets/example_nav&quot;</span><span class="p">);</span>
</pre></div>


<p>创建<code>Example\templates\example.widgets\example_nav.widget</code>，并添加以下内容</p>
<div class="code"><pre><span></span><span class="p">{</span> <span class="nt">&quot;Name&quot;</span><span class="p">:</span> <span class="s2">&quot;Example Navbar Item&quot;</span> <span class="p">}</span>
</pre></div>


<p>创建<code>Example\templates\example.widgets\example_nav.html</code>，并添加以下内容</p>
<div class="code"><pre><span></span><span class="p">&lt;</span><span class="nt">ul</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;nav&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/example/template&quot;</span><span class="p">&gt;</span>{{ &quot;Example&quot; }}<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
</pre></div>


<p>添加后文件结构应该如下:</br>
<img alt="" src="../../img/add_navbar_project.jpg" /></p>
<p>刷新页面可以看到以下的效果:</br>
<img alt="" src="../../img/add_narbar.jpg" /></p>
<h3 id="_11"><h2>模板模块的单独缓存</h2></h3>
<p>模板模块支持设置单独的缓存时间和缓存策略，使用此功能可以大幅提高页面的响应速度。<br/>
在widget文件指定缓存时间，例如<br/></p>
<div class="code"><pre><span></span><span class="p">{</span>
    <span class="nt">&quot;Name&quot;</span><span class="p">:</span> <span class="s2">&quot;Example Navbar Item&quot;</span><span class="p">,</span>
    <span class="nt">&quot;CacheTime&quot;</span><span class="p">:</span> <span class="mi">15</span><span class="p">,</span>
    <span class="nt">&quot;CacheBy&quot;</span><span class="p">:</span> <span class="s2">&quot;Locale&quot;</span>
<span class="p">}</span>
</pre></div>


<p>这里的CacheTime表示该模块的描画结果会缓存15秒，CacheBy表示缓存的隔离策略。<br/>
这里缓存会按当前的语言和时区来隔离。<br/>
缓存的隔离策略可以通过实现<code>ICacheIsolationPolicy</code>接口添加。<br/>
目前<code>Common.Base</code>插件提供了多种缓存的隔离策略，请参考该插件的文档。<br/></p>
          <aside class="copyright" role="note">
            
            Documentation built with
            <a href="http://www.mkdocs.org" target="_blank">MkDocs</a>
            using the
            <a href="http://squidfunk.github.io/mkdocs-material/" target="_blank">
              Material
            </a>
            theme.
          </aside>
          
            <footer class="footer">
              
  <nav class="pagination" aria-label="Footer">
    <div class="previous">
      
        <a href="../plugin/" title="插件系统">
          <span class="direction">
            Previous
          </span>
          <div class="page">
            <div class="button button-previous" role="button" aria-label="Previous">
              <i class="icon icon-back"></i>
            </div>
            <div class="stretch">
              <div class="title">
                插件系统
              </div>
            </div>
          </div>
        </a>
      
    </div>
    <div class="next">
      
        <a href="../localize/" title="本地化">
          <span class="direction">
            Next
          </span>
          <div class="page">
            <div class="stretch">
              <div class="title">
                本地化
              </div>
            </div>
            <div class="button button-next" role="button" aria-label="Next">
              <i class="icon icon-forward"></i>
            </div>
          </div>
        </a>
      
    </div>
  </nav>

            </footer>
          
        </div>
      </article>
      <div class="results" role="status" aria-live="polite">
        <div class="scrollable">
          <div class="wrapper">
            <div class="meta"></div>
            <div class="list"></div>
          </div>
        </div>
      </div>
    </main>
    <script>
      var base_url = '../..';
      var repo_id  = '';
    </script>
    <script src="../../assets/javascripts/application-997097ee0c.js"></script>
    
    
  </body>
</html>